<div class="header" [class.header__maximize-animation]="animation === 'maximize'"  [class.header__minimize-animation]="animation === 'minimize'">
    <div class="icons-container">
        <img src="../../../assets/icon/edit-icon.png" *ngIf="pagePattern.url === 'show-profile'" (click)="editClicked()" class="edit-icon">
        <img src="../../../assets/icon/soldier.png" class="profile-icon" [class.profile-icon__minimize-animation]="animation === 'minimize'" 
        [class.profile-icon__maximize-animation]="animation === 'maximize'">
    </div>
    <div class="icons-container" style="align-items: center;">
        <img src="../../../assets/icon/cancel.png" class="cancel-icon" (click)="backToProfileViewe()" *ngIf="pagePattern.url === 'edit-profile'">
        <h2>{{pagePattern.title}}</h2>
    </div>
</div>

<div class="info-container">
    <ng-container *ngIf="pagePattern.url === 'show-profile'">
        <ng-container *ngFor="let element of ProfilePagePattern.userInfo">
            <h4>{{element.title}}: {{element.info}}</h4>
            <hr>
        </ng-container>
    </ng-container>    

    <ng-container *ngIf="pagePattern.formGroup">
        <form [formGroup]="pagePattern.formGroup" (ngSubmit)="submit()">
            <ng-container *ngFor="let element of pagePattern.element">
                <h5 *ngIf="element.title != 'תעודת זהות'">{{element.title}}</h5>
                <input *ngIf="element.HTMLelement === 'input'" [formControlName] ="element.validName" [class.input__error]="!editProfile.get(element.validName)?.valid">
            </ng-container>
            <h5 *ngIf="!editProfile.valid" style="color: red;">הכנס בבקשה ערך חוקי</h5>
            <button type="submit">{{pagePattern.buttonText}}</button>
        </form>
    </ng-container>
</div>



<!-- <div class="background">

<div class="header"></div>


    <div class="container">
        <h5 *ngIf="page === 'new-user-profile'">לפני שנתחיל...</h5>

        <div>        <img src="../../../assets/icon/user2.png"></div>
        <h1>{{pagePattern.title}}</h1>

        <ng-container *ngIf="pagePattern.formGroup">
            <form [formGroup]="pagePattern.formGroup" (ngSubmit)="submit()">
                <ng-container *ngFor="let element of pagePattern.element">
                    <h4>{{element.title}}</h4>
                    <input *ngIf="element.HTMLelement === 'input'" [formControlName] ="element.validName">
                </ng-container>
                <button type="submit">{{pagePattern.buttonText}}</button>        
            </form>
        </ng-container>
        
        <ng-container *ngIf="!pagePattern.formGroup">
            <ng-container *ngFor="let element of ProfilePagePattern.userInfo">
                <h4>{{element.title}}: {{element.info}}</h4>
            </ng-container>
            <button type="submit" (click)="submit()">{{pagePattern.buttonText}}</button>        
        </ng-container>

    </div>
</div>
 -->
