<div class="background">
    <div class="container">
        <!-- <img src="../../../assets/icon/profile1.png" class="profile-icon"> -->
        <h5 *ngIf="page === 'new-user-profile'">לפני שנתחיל...</h5>
        <h1>{{pagePattern.title}}</h1>

        <ng-container *ngIf="pagePattern.formGroup">
            <form [formGroup]="pagePattern.formGroup" (ngSubmit)="submit()">
                <ng-container *ngFor="let element of pagePattern.element">
                    <h4>{{element.title}}</h4>
                    <input *ngIf="element.HTMLelement === 'input'" [formControlName] ="element.validName">
                </ng-container>
                <button type="submit">{{pagePattern.buttonText}}</button>        
            </form>
        </ng-container>
        
        <ng-container *ngIf="!pagePattern.formGroup">
            <ng-container *ngFor="let element of ProfilePagePattern.userInfo">
                <h4>{{element.title}}: {{element.info}}</h4>
            </ng-container>
            <button type="submit" (click)="submit()">{{pagePattern.buttonText}}</button>        
        </ng-container>

    </div>
</div>

