.header {
  background-color: #c8dbdf;
  width: 100vw;
  padding: 30px 15px 95px;
  text-align: center;

  &.header__minimize-animation {
    animation: 0.2s header-minimize 0s ease-in-out forwards;
  }
  &.header__maximize-animation {
    animation: 0.2s header-maximize 0s ease-in-out forwards;
  }

  @keyframes header-minimize {
    from { padding: 30px 15px 95px; }
    to { padding: 15px 15px 80px; }
  }
  @keyframes header-maximize {
    from { padding: 15px 15px 80px; }
    to { padding: 30px 15px 95px; }
  }

  .icons-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .profile-icon {
    width: 105px;
    margin: 10px 0 10px 20px;
  
    &.profile-icon__minimize-animation {
      animation: 0.2s profile-minimize 0s linear forwards;
    }
    &.profile-icon__maximize-animation {
      animation: 0.2s profile-maximize 0s linear forwards;
    }
    
    @keyframes profile-minimize {
      from { width: 105px; margin: 10px; }
      to { width: 85px; margin: 10px; }
    }
    @keyframes profile-maximize {
      from { width: 85px; }
      to { width: 105px; }
    }
  }
   
  .edit-icon {
    width: 20px;
    height: fit-content;
    margin-bottom: 20px;
  }

  .cancel-icon {
    width: 20px;
    height: fit-content;
    margin-left: 3px;
  }

  h2{ 
    font-weight: 600;
    font-size: 20px;
  }
}

.info-container {
  position: relative;
  margin-top: -65px;
  background-color: #f3f2f0;
  // height: -webkit-fill-available;
  width: 90%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 30px;
  padding: 20px 20px 135px;
}

h4 {
  margin-bottom: 15px;
}

h5 {
  margin-bottom: 3px;
}

hr {
  border: #e0e0e0 1px solid;
  margin-bottom: 15px;
}

hr:last-child {
  display: none;
}

input {
  width: 100%;
  border: solid 2px #d8d8d8;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 4px 6px;
}

button {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;

}















// .background {
//   position: absolute;
//   min-height: 100%;
//   width: 100vw;
//   padding-bottom: 70px;
//   background-color: #c8dbdf;
// }

// .header {
//   width: 100vw;
// }
// .container {
//   padding: 20px 15px;

//   .profile-icon {
//     display: block;
//     margin: 5px auto;
//     width: 80px;
//   }
// }

// h2 {
//   color: #0e3138;
//   margin-bottom: 20px;
// }

// h1 {
//   margin: 10px 0 40px;
//   font-size: 25rem;
// }

// input {
//   -webkit-appearance: none;
//   position: relative;
//   width: 100%;
//   font-weight: 400;
//   font-size: 16rem;
//   margin-bottom: 15px;
//   color: #14375b;
//   color: #0e3138;
//   padding: 11px;
//   box-sizing: border-box;
//   border-radius: 10px;
//   background: #82b5c0;
//   border: none;
//   // filter: drop-shadow(#00000045 3px 3px 10px);

//   &:focus {
//     outline: none;
//   }
// }

// button {
//   font-weight: 600;
//   font-size: 17rem;
//   min-height: 40px;
//   min-width: 80px;
//   margin-top: 15px;
//   padding: 6px 24px;
//   color: cornsilk;
//   background-color: #0e3138;
//   filter: drop-shadow(#00000045 3px 3px 10px);
//   border-radius: 10px;
//   border: none;
//   display: block;
// }
