<div class="header" [class.header__maximize-animation]="animation === 'maximize'"  [class.header__minimize-animation]="animation === 'minimize'">
    <img src="../../../assets/icon/user2.png" class="profile-icon" [class.profile-icon__minimize-animation]="animation === 'minimize'" 
    [class.profile-icon__maximize-animation]="animation === 'maximize'">
    <img src="../../../assets/icon/edit-icon.png" *ngIf="pagePattern.url === 'show-profile'" (click)="editClicked()" class="edit-icon">
    <h2>{{pagePattern.title}}</h2>
</div>

<div class="info-container">
    <ng-container *ngIf="pagePattern.url === 'show-profile'">
        <ng-container *ngFor="let element of ProfilePagePattern.userInfo">
            <h4>{{element.title}}: {{element.info}}</h4>
            <hr>
        </ng-container>
    </ng-container>    

    <ng-container *ngIf="pagePattern.formGroup">
        <form [formGroup]="pagePattern.formGroup" (ngSubmit)="submit()">
            <ng-container *ngFor="let element of pagePattern.element">
                <h5 *ngIf="element.title != 'תעודת זהות'">{{element.title}}</h5>
                <input *ngIf="element.HTMLelement === 'input'" [formControlName] ="element.validName">
            </ng-container>
            <button type="submit">{{pagePattern.buttonText}}</button>
        </form>
    </ng-container>
</div>



<!-- <div class="background">

<div class="header"></div>


    <div class="container">
        <h5 *ngIf="page === 'new-user-profile'">לפני שנתחיל...</h5>

        <div>        <img src="../../../assets/icon/user2.png"></div>
        <h1>{{pagePattern.title}}</h1>

        <ng-container *ngIf="pagePattern.formGroup">
            <form [formGroup]="pagePattern.formGroup" (ngSubmit)="submit()">
                <ng-container *ngFor="let element of pagePattern.element">
                    <h4>{{element.title}}</h4>
                    <input *ngIf="element.HTMLelement === 'input'" [formControlName] ="element.validName">
                </ng-container>
                <button type="submit">{{pagePattern.buttonText}}</button>        
            </form>
        </ng-container>
        
        <ng-container *ngIf="!pagePattern.formGroup">
            <ng-container *ngFor="let element of ProfilePagePattern.userInfo">
                <h4>{{element.title}}: {{element.info}}</h4>
            </ng-container>
            <button type="submit" (click)="submit()">{{pagePattern.buttonText}}</button>        
        </ng-container>

    </div>
</div>
 -->
