.dialog-background {
  height: 100vh;
  width: 100vw;
  background-color: rgb(88 126 163 / 72%);
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
}

.dialog {
  height: 76vh;
  width: 91.6vw;
  background-color: #dfe3eb;
  margin: auto;
  top: 10.8vh;
  position: relative;
  border-radius: 41px;
}

.close-btn {
  width: 14%;
  height: 7%;
  position: absolute;
  left: 1%;
  top: 2.2%;
}

.cart-btn {
  position: absolute;
  left: 3vw;
  bottom: 4vh;
}

.product-image {
  height: 38%;
  width: 80%;
  margin: auto;
  display: block;
  padding: 0%;
  border-radius: 45px;
  margin-bottom: 3%;
}

.product-title {
  width: 67%;
  height: 11%;
  margin: auto;
  margin-right: 16%;
}

.added-sizes-container {
  width: 100%;
  height: 35%;
  margin-top: 5vh;
  position: relative;
  margin: auto;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  display: flex;
}

.added-sizes {
  background-color: #468b95;
  width: 88%;
  height: 29%;
  margin: auto;
  margin-top: 2vh;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.added-sizes-text {
height: 50%;
  width: 17%;
  display: inline-block;
  color: black;
  font-size: 19rem;
}

.added-sizes-input {
  height: 50%;
  width: 22%;
  font-size: 19rem;
}

.close-size-btn {
  height: 55%;
  align-self: flex-start;
}

.add-btn {
  position: absolute;
  right: 3vw;
  bottom: 4vh;
}

.disabled-option {
  background-color: rgb(133, 169, 169);
}
