<div class="outer-dialog">
  <div class="dialog" *ngIf="product != undefined">
    <button (click)="doThis()">fsasafhasghjakfas</button>
    <img class="close-btn" src="../../../assets/img/closeBtn.png" alt="close-button" (click)="closeDialog()">
    <h1 class="product-title">{{product.pordactName}}</h1>
    <img class="product-image" [src]="product.prodactImage" alt="clicked-product-image">
    <div class="wanted-orders-container">
      <div class="wantd-orders" *ngFor="let size of cartItemArray">
        <p class="wanted-orders-text">מידה:</p>
        <select class="wanted-orders-input" #sizess name="sizes" size="1" [(ngModel)]="size.size" (focus)="onFocus(sizess.value)" (input)="onInput(sizess.value)">
          <option [disabled]="this.alreadyChosenSizes.includes(size)" [class]="this.alreadyChosenSizes.includes(size) ? 'disabled-option' : ''" class="wanted-orders-option" *ngFor="let size of sizes[product.typeSize]">{{size}}</option>
        </select>
        <p class="wanted-orders-text">כמות:</p>
        <input class="wanted-orders-input" type="number" min="1" [value]="size.quantity" [(ngModel)]="size.quantity"
        oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null">
        <img class="close-size-btn" src="../../../assets/img/closeBtn.png" alt="close size choosing" (click)="removeSize(size)">
      </div>
    </div>
    <img src="../../../assets/img/addBtn.png" alt="add size" (click)="addSize()">
    <img class="cart-btn" src="../../../assets/img/cartBtn.png" alt="cart size" (click)="addToCart()">
  </div>
</div>
