<div class="outer-dialog">
  <div class="dialog" *ngIf="currProduct != undefined">
    <img class="close-btn" src="../../../assets/img/closeBtn.png" alt="close-button" (click)="closeDialog()">
    <h1>{{currProduct.pordactName}}</h1>
    <img class="product-image" [src]="currProduct.prodactImage" alt="clicked-product-image">
    <div class="wanted-orders-container">
      <div class="wantd-orders" *ngFor="let size of wantedSizes">
        <p class="wanted-orders-text">מידה:</p>
        <select class="wanted-orders-input" id="sizes" name="sizes" size="1" [(ngModel)]="size.size">
          <option class="wanted-orders-option" *ngFor="let size of sizes[currProduct.typeSize]" [value]="">{{size}}</option>
        </select>
        <p class="wanted-orders-text">כמות:</p>
        <input class="wanted-orders-input" type="number" min="1" [value]="size.quantity" [(ngModel)]="size.quantity"
        oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : null">
        <!-- <input class="wanted-orders-input" type="number" min="1" [value]="size.size" [(ngModel)]="size.size"> -->
      </div>
    </div>
    <img src="../../../assets/img/addBtn.png" alt="add size" (click)="addSize()">
    <img class="cart-btn" src="../../../assets/img/cartBtn.png" alt="cart size" (click)="addToCart()">
  </div>
</div>
