.product-img-container {
    width: 100vw;
    height: 64vh;
    padding-bottom: 110px;
    background-color: white;

    .product-img {
      width: 73vw;
      height: 45vh;
      margin: auto;
      display: block;
      padding: 3%;
      top: 18%;
      position: relative;
    }

    .icons-container{
        display: flex;
        justify-content: space-between;
        height: 55px;
        padding: 25px 20px 0;
        left: 0;
        position: absolute;

        img{
            width: 30px;
        }
    }
}

.product-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    width: -webkit-fill-available;
    height: 36vh;
    padding: 25px;
    box-sizing: unset;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #c8dbdf;

    .amount-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border: solid #476181 1px;
      border: solid #000000 1px;
      border-radius: 15px;
      height: 42px;
      width: 115px;
      user-select: none;
      position: relative;

      .sign {
        text-align: center;
        height: 90%;
        width: 50%;
        font-size: 26px;

      }

      #amount {
        height: 100%;
        width: 57%;
        border: none;
        text-align: center;
        font-size: 22px;
        direction: ltr;
      }

      .invalidations {
        position: absolute;
        top: 100%;
        width: max-content;
        p {
          color: red;
        }
      }
    }

    .size-container {
        white-space: nowrap;
        width: 100%;
        overflow-x: scroll;
    }

    .size-element {
        height: 55px;
        width: 55px;
        background-color: white;
        border: #cecdcd solid 1px;
        margin-left: 10px;
        border-radius: 15px;
        display: inline-block;
        width: fit-content;
        min-width: 55px;

        &.size-element__selected-size {
            border: #000000 solid 1px;
        }

        span {
            display: block;
            font-size: 21px;
            font-weight: 300;
            text-align: center;
            line-height: 250%;
        }
    }
}

button {
  background-color: #476181;
  color: white;
  height: 42px;
  border-radius: 15px;
}

input {
  background-color: #c8dbdf;
}
