.cart-item{
  background-color: aqua;
  height: 45%;
  width: 87%;
  margin: auto;
  border-radius: 23px;
  margin-top: 4%;
}

.cart-item-image {
  background-color: aliceblue;
  height: 84%;
  width: 50%;
  margin-top: 4%;
  border-radius: 20px;
}

.cart-item-title {
  background-color: antiquewhite ;
}

.cart-item-details {
  display: flex;
  background-color: black;
}
