.nav-container {
  position: absolute;
  height: 100px;
  width: 100vw;
  bottom: 0;
  padding-bottom: 30px;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #82b5c0;
  fill: #ffffff;

  .icon-container {
    flex-grow: 1;
  }
  .icon {
    display: block;
    margin: auto;
    width: 25px;
  }
  .selected-icon {
    display: block;
    margin: auto;
    width: 25px;
  }
}

.wave-container {
  position: absolute;
  height: 100px;
  width: 100vw;
  bottom: 0;
  padding-bottom: 30px;
  z-index: 10000;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  fill: #82b5c0;
}

.show {
  flex-grow: 1;
  width: 85%;
  animation: 0.2s show-animation 0s ease-in-out forwards;
}

.unshow {
  flex-grow: 1;
  width: 85%;
  animation: 0.2s unshow-animation 0s ease-in-out forwards;
}

@keyframes show-animation {
  from { margin-bottom: 0; }
  to { margin-bottom: 69px; }
}
@keyframes unshow-animation {
  from { margin-bottom: 69px }
  to { margin-bottom: 0; }
}













.menu {
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 1000;
  background: #82b5c0;
  height: 100px;


  li {
    display: inline-block;
    list-style-type: none;
  }

  .icons {
    position: relative;
    height: 30px;
    fill: white;
  }

  .icons-selected {
    position: relative;
    height: 35px;
    fill: white;
  }

  // .show {
  //   position: relative;
  //   fill: #82b5c0;
  //   bottom: 57px;
  //   width: 100%;
  //   height: 14px;
  //   animation-name: showup;
  //   animation-duration: 0.4s;
  // }

  // .unshow {
  //   position: relative;
  //   fill: #82b5c0;
  //   bottom: 37px;
  //   width: 100%;
  //   height: 14px;
  //   animation-name: showdown;
  //   animation-duration: 0.4s;
  // }

  // .out {
  //   position: relative;
  //   fill: rgb(88 126 163);
  //   bottom: 30px;
  //   width: 100%;
  //   height: 14px;
  // }
}

.menu {
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
  }
}

.selected-menu {
  position: absolute;
  width: 100vw;
  height: 70px;
  padding: 0;
  bottom: 0;
  fill: rgb(88 126 163);

  li {
    width: 25vw;
    display: inline-block;
  }

  .ul-style {
    list-style-type: none;
    padding: 0;
  }
}

@keyframes showup {
  from {
    bottom: 37px;
  }

  to {
    bottom: 57px;
  }
}

@keyframes showdown {
  from {
    bottom: 50px;
  }

  to {
    bottom: 37px;
  }
}
