.outer-dialog {
  height: 100vh;
  width: 100vw;
  background-color: rgb(88 126 163 / 72%);
  padding: 70px 20px;
  // padding-bottom: 200px;
  z-index: 20000;
  position: fixed;
  top: 0px;
  right: 0px;
  animation: fadein 0.5s linear normal forwards;
}

.dialog {
  height: 100%;
  width: 100%;
  background-color: #dfe3eb;
  overflow: auto;
  border-radius: 41px;
  padding-top: 1%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: env(safe-area-inset-bottom);
  animation: Zoomin 0.5s linear normal forwards;
}




@keyframes fadein {
  from {
      opacity: 0;

     }
     to {
        opacity: 1;
        transform: scale(1, 1);
       }
}

@keyframes Zoomin {
  from{
    transform: scale(0, 0);      
  }
  to {
    transform: scale(1, 1); 
  }
  }
