.outer-dialog {
  height: 100vh;
  width: 100vw;
  background-color: rgb(88 126 163 / 72%);
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  animation: fadein 0.5s linear normal forwards;
}

.dialog {
  height: 76vh;
  width: 91.6vw;
  background-color: #dfe3eb;
  overflow: auto;
  margin: auto;
  top: 10.8vh;
  position: relative;
  border-radius: 41px;
  padding-top: 1%;
  padding-right: 4%;
  padding-left: 4%;
  animation: Zoomin 0.5s linear normal forwards;
}

@keyframes fadein {
  0% {
      opacity: 0;

     }
  100% {
        opacity: 1;
        transform: scale(1, 1);
       }
}

@keyframes Zoomin {
  0%{
    transform: scale(0, 0);
    }
  100% {
    transform: scale(1, 1);
  }
      }
