<div class="item" *ngFor="let item of tamplate.items; let i = index" >
    <div [@changeSize]="item.currentState">
        <div class="tail" ></div>
        <div class="context">
        <uL>
            <li> <h3>{{item.data.title}}</h3> </li>
                <li><h3>מספר הזמנה: {{item.data.olderiD}}</h3></li>
        </uL>
        <div  class="hide" [hidden]="item.currentState == 'close'" >
        <uL>
            <li><p>הוזמן בתאריך: {{item.date}}</p></li>
            <li> <p>סוג הזמנה: {{item.fulldata.type}}</p> </li>
        </uL>
        <img src ="../../../assets/img/{{item.fulldata.status}}.svg" class="status">
        <h4> {{item.statusMassage}}</h4>
        <p (click)="ToPopup(item.fulldata.prodact)" class="link">לצפייה בהזמנה לחץ כאן...</p>
    </div>
    </div>
        <img src="../../../assets/icon/more.svg"  (click)="doResize(item)"  [@flip]="item.currentState" class="icon">
    </div>
</div>
<pop-up (closeEvent)="this.prodactShow = undefined" *ngIf="this.prodactShow !=undefined">
    <product-details *ngIf="this.prodactShow !=undefined" [prodactdetails]="this.prodactShow"></product-details>
</pop-up>
