  
.item{
    margin:20px 0;
    width: 100%;
    padding: 18px 35px 18px 10px;
    background-color:#c8dbdf;
    border-radius: 20px;
    transform-style: preserve-3d;

    .tail{
        position: absolute;
        right: 0;
        top: 0;
        background-color: #82b5c0 ;
        display:inline-block;
        height: 100%;
        width: 18px;
        border-radius: 0 20px 20px 0;
    }
    .status{
        max-width: 288px;
        margin: 16px 0;
    }
    .icon{
        position: absolute;
        bottom: 1.2vh;
        left: 4vw;
        width: 34px;
    }
    ul{
        list-style-type: none !important;
        padding: 0;
        margin-bottom: 8px;
    }
    svg
    {
        position: absolute;
        width: 13%;
        left: 43%;
        margin-top: 2%;
    }
    .link{
        color: #0c0994;;
        cursor:pointer;
        text-decoration:underline;
    }
}

.check {
bottom: 0;
position: fixed;
height: 70px;
}
@media (max-width:640px) {
  section {
    background-attachment:initial;
  }
}