.selected-page-container {
  position: absolute;
  height: 100vh;
  z-index: 100000000;
  background-color: #c8dbdf;
  width: 100vw;
  top: 0;
}

.catalog-page {
  background-color: #f4f2f0;
  height: 100%;
  padding-bottom: 100px;

  .catalog-title {
    text-align: center;
    font-size: 45rem;
    color: #062f33;
  }

  $searchBarBgColor: #c2cbc4;
  $searchBarBorderRadius: 20px;
  .search-bar-container {
    height: 6vh;
    width: 57vw;
    margin: auto;
    position: relative;
    border-radius: $searchBarBorderRadius;
    background-color: $searchBarBgColor;

    .catalog-search-bar {
      position: relative;
      height: 100%;
      background-color: $searchBarBgColor;
      width: 60%;
      border-width: 0px;
      border-radius: 20px;
      text-align: center;
      font-size: 6vw;
      font-weight: 500;
      margin: auto;
      display: block;
    }

    .search-bar-img {
      position: absolute;
      left: 2%;
      top: 4%;
      border-radius: 24px;
    }
  }
}

.categories-container {
  height: 63vh;
  width: 90vw;
  overflow: auto;
  margin: auto;
  margin-top: 16%;

  .category {
    display: flex;
    min-height: 24vh;
    margin-bottom: 7%;
    position: relative;
    flex-direction: column;
    justify-content: space-around;

    .category-title {
      font-size: 38rem;
    }

    .products-container {
      height: fit-content;
      display: flex;
      flex-direction: row;
      overflow-y: hidden;

      .product-image {
        position: relative;
        margin-left: 7%;
        height: 26vw;
        width: 26vw;
      }
    }
  }
}

#all-products-container {
  height: 63vh;
  width: 90vw;
  overflow: auto;
  margin: auto;
  margin-top: 16%;
  display: flex;
  flex-wrap: wrap;

  .product-image {
    position: relative;
    height: 35vw;
    width: 35vw;
  }
}










