<div class="catalog-page">
  <h2 class="catalog-title">מוצרים</h2>
  <div class="search-bar-container">
    <input class="catalog-search-bar" type="text" [(ngModel)]="search">
    <img class="search-bar-img" src="../../../assets/img/searchBtn.png" alt="search">
  </div>

  <div class="categories-container">
    <div class="category" *ngFor="let category of categories">
      <h2 class="category-title">{{category.categoryName}}</h2>
      <div class="products-container">
        <ng-container *ngFor="let product of products">
            <img class="product-image"
            (click)="onClick(product)"
            *ngIf="product.pordactName.includes(search) && product.categoryId === category.categoryId"
            src={{product.prodactImage}}
            alt="product image">
        </ng-container>
      </div>
    </div>
</div>
<div class="selected-page-container" *ngIf="currProduct != undefined"><app-selected-product (onAddToCart)="addToCart($event)" (onClose)="this.currProduct = undefined;" [product]="currProduct"></app-selected-product></div>
