.catalog-page {
  background-color: #f4f2f0;
  height: 100%;
  padding-bottom: 100px;
}

.categories-container {
  height: 69vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: auto;
  align-items: center;
  width: 98vw;
  margin: auto;
  margin-top: 3vh;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 37vh;
  margin-bottom: 16%;
  position: inherit;
  width: 80%;
}

.category-details {
  height: 57%;
  width: 90vw;
  position: inherit;
}

.category-img {
  height: 100%;
  width: 100%;
  /* filter: blur(1.7px) opacity(0.89); */
  /* background: blanchedalmond; */
  filter: opacity(0.6);
  border-width: 1px;
  border-color: black;
  border-style: inset;
  // background: rgba( 255, 247, 247, 0.25 );
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  // backdrop-filter: blur( 20px );
  // -webkit-backdrop-filter: blur( 20px );
  // border-radius: 10px;
}

.category-title {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  top: 33%;
  font-size: 38rem;
}

.products-container{
  height: 36%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 7%;
}

.product {
  word-break: break-word;
  border-radius: 28px;
  font-size: 20rem;
  background-color: rgb(35, 87, 137);
  position: relative;
  position: relative;
  height: 100%;
  width: 43%;
  min-width: 29vw;
  margin-left: 7%;
}

.product-title {
  position: absolute;
  bottom: 5%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 88%;
}

.product-image {
  position: absolute;
  height: 76%;
  border-radius: 28px 28px 0px 0px;
  width: 100%;
}

.catalog-title {
  text-align: center;
  font-size: 45rem;
  color: #062f33;
}

.catalog-search-bar {
  height: 6vh;
  width: 57vw;
  background-color: #c2cbc4;
  border-width: 0px;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 6vw;
  font-weight: 500;
  margin: auto;
  display: block;
}

.search-bar-container {
  height: 6vh;
  width: 57vw;
  margin: auto;
  position: relative;
}

.search-bar-img {
  position: absolute;
  left: 2%;
  top: 4%;
  border-radius: 24px;
}
