input
{
    width: 42%;
    height: 13%;
}
.product-details
{
    background-color: rgba(0, 0, 0, 0.2);
    height: 22vh;
    margin-top: 5%;
    padding: 4%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    
}
.product-image {
    display: i;
    height: 100%;
    width: 48%;
  }
.mainContent
{
   
    width: 70%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin-right: 10%;
    
  
}
.tableConect{
    display: flex;
    //padding-left: 10%;
    overflow: scroll;
    ul{
        list-style-type: none;
        padding-left: 10%;
        padding-right: 0%;
    }
}
h4
{
    font-size: 23rem; 
    font-weight: 600;
    margin-bottom: 9%;
}
li{
    font-size: 23rem; 
    text-align: right; 
    
}
th{

    font-size: 23rem; 
    font-weight: 450;
    text-align: right; 
}
td{

    font-size: 20rem;
    text-align: right;
   
}