<div *ngIf="this.prodactdetails">
  <div *ngFor="let prodact of this.prodactdetails">
    <div class="product-details">
      <div class="item">
        <img class="product-image" [src]="prodact.prodactImage">
        <div class="mainContent">
          <h4>{{prodact.pordactName}}</h4>
          <table>
            <tr >
              <th  *ngFor="let onesize of prodact.sizes| keyvalue">{{onesize.key}}</th>
            </tr>
            <tr>
              <td *ngFor="let onesize of prodact.sizes| keyvalue">{{onesize.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
