<div class="cart-page">
  <h2 class="cart-title">ההזמנה שלי</h2>
  <div class="cart-container">
    <div class="order-details-container">
      <div class="order-details">
        <p class="details-text">שלוחה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderShluha">
          <option>שלוחה 1</option>
          <option>שלוחה 2</option>
          <option>קייזר</option>
        </select>
      </div>
      <div class="order-details">
        <p class="details-text">סוג הזמנה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderType">
          <option>בלאי</option>
          <option>רגיל</option>
        </select>
      </div>
      <div class="order-details">
        <p class="details-text">כיתה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderClass">
          <option *ngFor="let class of classes">{{class}}</option>
        </select>
      </div>
    </div>

    <div class="products-container">
      <product-details [prodactdetails]="cart"></product-details>
    </div>

    <div class="is-draft">
      <span class="is-draft-text">טיוטה: </span>
      <div class="checkbox-wrapper-31">
      <input type="checkbox" [(ngModel)]="orderIsDraft"/>
      <svg viewBox="0 0 35.6 35.6">
        <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
        <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
        <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
      </svg>
      </div>
    </div>

    <img id="complete-order-btn" src="../../../assets/img/cartBtn.png" alt="order" (click)="completeOrder()">
    <pop-up *ngIf="isOrderCompleted" (closeEvent)="this.isOrderCompleted = false">
      <p>Order is Completed!</p>
    </pop-up>

  </div>
</div>


