<div class="cart-page">
  <h2 class="catalog-title">ההזמנה שלי</h2>
  <div class="cart-container">
    <div class="options-container">
      <p>שלוחה</p>
      <select class="wanted-orders-input" id="sizes" name="sizes" size="1">
        <option class="wanted-orders-option">דשכדשכ</option>
        <option class="wanted-orders-option">כדשכדש</option>
      </select>
      <p>סוג הזמנה</p>
      <select class="wanted-orders-input" id="sizes" name="sizes" size="1">
        <option class="wanted-orders-option">בלאי</option>
        <option class="wanted-orders-option">רגיל</option>
      </select>
    </div>
  </div>
</div>


