.cart-page {
  height: 100vh;
  width: 100vw;
  background-color: #90abc3;
  padding-bottom: 100px;

  .cart-title {
    text-align: center;
    font-size: 45rem;
    color: #3a454a;
  }

}

.cart-container {
  background-color: #235789;
  position: relative;
  height: 70vh;
  width: 89vw;
  margin: auto;
  margin-top: 5vh;
  border-radius: 46px;
}

input, select {
  text-align: center;
  border-radius: 11px;
  font-size: 21rem;
}

.order-details-container {
  height: 19%;
  width: 98%;
  margin: auto;
  border-radius: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .order-details {
    height: 76%;
    width: 47%;
    text-align: center;
    position: relative;

    .details-text {
      height: 41%;
      width: 100%;
      font-size: 21rem;
      text-align: center;
      color: aliceblue;
    }

    .details-input {
      height: 50%;
      width: 80%;
    }

    .invalid-text {
      position: absolute;
      top: 100%;
      height: 30%;
      width: 100%;
      text-align: center;
      font-size: 17rem;
      color: red;
    }
  }
}


.products-container {
  height: 54%;
  width: 90%;
  margin: auto;
  overflow: auto;
  border-radius: 13px;
  margin-top: 6%;
  position: relative;

  #empty-cart {
    font-size: 24rem;
    text-align: center;
  }

  #edit-icon {
    position: absolute;
    max-height: 38px;
    left: 0;
    top: 0;
    height: 12%;
    z-index: 5;
  }
}

#complete-order-btn {
  height: fit-content;
  border-radius: 15px;
  width: fit-content;
  padding: 2% 11%;

  // #complete-order-btn:hover {
  //   /* Start the shake animation and make the animation last for 0.5 seconds */
  //   animation: shake 0.5s;

  //   /* When the animation is finished, start again */
  //   animation-iteration-count: infinite;
  // }

  // @keyframes shake {
  //   0% { transform: translate(1px, 1px) rotate(0deg); }
  //   10% { transform: translate(-1px, -2px) rotate(-1deg); }
  //   20% { transform: translate(-3px, 0px) rotate(1deg); }
  //   30% { transform: translate(3px, 2px) rotate(0deg); }
  //   40% { transform: translate(1px, -1px) rotate(1deg); }
  //   50% { transform: translate(-1px, 2px) rotate(-1deg); }
  //   60% { transform: translate(-3px, 1px) rotate(0deg); }
  //   70% { transform: translate(3px, 1px) rotate(-1deg); }
  //   80% { transform: translate(-1px, -1px) rotate(1deg); }
  //   90% { transform: translate(1px, 2px) rotate(0deg); }
  //   100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#bottom-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  #is-draft-container {
    display: flex;
    align-items: center;
    .bottom-container-text {
      font-size: 22rem;
    }
  }
}



.checkbox-wrapper-31:hover .check {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.checkbox-wrapper-31 .background {
  fill: #f9f9f9;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 .stroke {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-dashoffset: 22;
  stroke-dasharray: 22;
  transition: ease all 0.6s;
  -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper-31 input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:hover {
  cursor: pointer;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
  fill: #6cbe45;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
  stroke-dashoffset: 0;
}
