.cart-page {
  height: 100vh;
  width: 100vw;
  background-color: #90abc3;
}

.cart-title {
  text-align: center;
  font-size: 45rem;
  color: #3a454a;
}

.cart-container {
  background-color: #235789;
  position: relative;
  height: 69vh;
  width: 85vw;
  margin: auto;
  margin-top: 6vh;
  border-radius: 46px;
}

.details-text {
  height: 10%;
  width: 13%;
  font-size: 21rem;
}

.details-input {
  height: 50%;
  width: 25%;
}

.title-input {
  height: 7%;
    border-radius: 11px;
    width: 57%;
}

.order-details-container {
  height: 19%;
  width: 98%;
  margin: auto;
  border-radius: 46px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-items-container {
  height: 56%;
  width: 100%;
  overflow: auto;
}

.products-container {
  height: 58%;
  width: 90%;
  margin: auto;
  overflow: auto;
  border-radius: 13px;
  margin-top: 4%;
}

#complete-order-btn {
  width: 20%;
  margin: auto;
  display: block;
}
