<div class="cart-page">
  <h2 class="cart-title">ההזמנה שלי</h2>
  <div class="cart-container">
    <div class="order-details-container">
      <div class="order-details">
        <p class="details-text">שלוחה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderShluha">
          <option>שלוחה 1</option>
          <option>שלוחה 2</option>
        </select>
      </div>
      <div class="order-details">
        <p class="details-text">סוג הזמנה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderType">
          <option>בלאי</option>
          <option>רגיל</option>
        </select>
      </div>
      <div class="order-details">
        <p class="details-text">כיתה</p>
        <select class="details-input" id="sizes" name="sizes" size="1" [(ngModel)]="orderClass">
          <option *ngFor="let class of classes">{{class}}</option>
        </select>
      </div>
    </div>

    <div class="products-container">
      <product-details [prodactdetails]="cart"></product-details>
    </div>

    <img id="complete-order-btn" src="../../../assets/img/cartBtn.png" alt="order" (click)="completeOrder()">
    <pop-up *ngIf="isOrderCompleted" (closeEvent)="this.isOrderCompleted = false">
      <p>Order is Completed!</p>
    </pop-up>

  </div>
</div>


