input {
  width: 42%;
  height: 13%;
}

.products {
  height: 94%;
  width: 96%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  flex-wrap: nowrap;
}

.product {
  background-color: rgb(249 249 249);
  height: 17vh;
  margin-top: 5%;
  padding: 4%;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.product-image {
  height: 96%;
  width: 46%;
  border-radius: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4%;
}

.mainContent  {
  width: 50%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: auto;
  margin-right: 10%;
  justify-content: flex-start;
  top: 0px;
  position: absolute;
  left: 6%;
}

.tableConect {
  display: flex;
  overflow: scroll;
  ul {
    list-style-type: none;
    padding-left: 10%;
    padding-right: 0%;
  }
}

h4 {
  font-size: 23rem;
  font-weight: 600;
  margin-bottom: 9%;
}

li {
  font-size: 23rem;
  text-align: right;
}

th {
  font-size: 23rem;
  font-weight: 450;
  text-align: right;
}

td {
  font-size: 20rem;
  text-align: right;
}

.sizes-display {
  height: 46%;
  font-size: 20rem;
  margin: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.sizes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 65%;
}

.product-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 23rem;
  width: fit-content;
  margin-top: 6%;
}
