<div class="product-img-container">
    <div class="icons-container">
        <img src="../../../assets/icon/favorite.png">
        <img src="../../../assets/icon/back.png">
    </div>

    <img class="product-img" src="../../../assets/icon/shirt.png">
</div>

<div class="product-container">
    <h2>חולצה א'</h2>

    <div class="amount-container">
        <h4>+</h4>
        <h4>1</h4>
        <h4>-</h4>
    </div>

    <div class="size-container">
        <div class="size-element"><span>ב</span></div>
        <div class="size-element" [class.size-element__selected-size]="true"><span>ב</span></div>
        <div class="size-element"><span>ב</span></div>
        <div class="size-element"><span>ב</span></div>
        <div class="size-element"><span>ב</span></div>
    </div>

    <button>הוסף לעגלה</button>
</div>