<app-start-page-login (selectedPage)="page = $event" (userInfo)="createUserInfo($event)" *ngIf="page === 'start-page'"></app-start-page-login>
<app-nav (selectedPage)="page = $event"></app-nav>


<app-home-page *ngIf="page === 'home-page'" ></app-home-page>
<app-profile-page (selectedPage)="page = $event" [userInfo]="userInfo" *ngIf="page === 'profile'" ></app-profile-page>
<catalog-page *ngIf="page === 'products'"></catalog-page>
<app-cart-page *ngIf="page === 'cart'"></app-cart-page>


<!-- <div class="selected-page-container"><app-selected-product></app-selected-product></div> -->


<div class="profile-page-container" *ngIf="page === 'new-user-profile'">
    <app-profile-page (selectedPage)="page = $event" [page]="page"></app-profile-page>
</div>
